{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3-5 | 로그인</title>
    <link rel="stylesheet" href={% static 'login.css' %}>
</head>
<body>
    <header>
        <div class="headerr">
            <h2>3-5 Class</h2>
            {% if user.is_authenticated %}
            <h4>{{ user.username }} 님  |  <a href="{% url 'users:logout' %}">로그아웃</a></h4>
            {% else %}
            <h4><a href="/users/login/">로그인</a></h4>
            {% endif %}
        </div>
    </header>
    <div class="container">
    <h1>로그인</h1>
    <form method="post" action="{% url 'users:login' %}">
        <br><hr>
        {% csrf_token %}
        {% include 'users/form_errors.html' %}
        <br>
        <br>
        <div class="form-group">
            <label>사용자 ID</label>
            <input type="text" name="username" id="username" class="input-field">
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" name="password" id="password" class="input-field">
        </div>
        <br>
        <br>
        <button type="submit" class="btn-submit">로그인</button>
    </form>
    </div>
</body>
</html>